// Including bootstrap
@import "bootstrap/bootstrap.scss";

// Including variables and mixins
@import "partial/variables";
@import "partial/mixins";
@import "partial/reset";
@import "partial/predefined";
@import "partial/sidebar";
@import "partial/footer";
@import "partial/override";
@import "partial/variables";
@import 'Surfers/surfers.scss';


// Component Scss
@import "components/pagination";
@import "components/button";
@import "components/carousel";
@import "components/product";

