.blog{
    &__title{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    &__des{
        max-width: 432px;
        margin: 0 auto;
        margin-top: 10px;
        font-weight: 600;
    }
    &__carousel{
      
        &-single-item{
            margin-top: 40px;
            position: relative;
           
            img{
                width: 250px;
                height: 250px;
            }
            &-badge{
                padding: 5px 15px;
                font-size: 15px;
                position: absolute;
                top: 17px;
                left: 15px;            
            }
            &-date{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0px;
                left: 20px;
                padding: 20px;
                p{
                    color: White;
                    margin-bottom: 0;
                    margin-left: 10px;
                    font-size: 12px;
                }
            }
        }
    }
}

.left-arrow{
    background-color: #00b55b;
    padding: 0px 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    top: 50%;
    left: -47px;
    font-size: 27px;
    font-weight: 600;
}

.right-arrow{
    background-color: #00b55b;
    padding: 0px 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 50%;
    right: -19px;
    font-size: 25px;
    font-weight: 600;
}

.bol{
    background-color: #00b55b;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    position: absolute;
    top: 16px;
    left: -14px;
}
.bol-two{
    background-color: #00b55b;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: -16px;
    right: 9px;
}