.product-area {
  .card-container {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    overflow: hidden;
    &:hover {
        box-shadow: 0 55px 50px -17px rgba(0,0,0,.22);
        overflow: hidden;
        .image-container{
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
    }
    .image-container {
      transform: scale(1);
      transition: all 0.5s ease;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      width: 300px;
      height:300px;
      display: block;
    }
  }
  //   .card-content {
  //     overflow: hidden;
  //   }
  .product-price {
    color: $text-color;
  }
  .product-price-offer {
    color: red;
  }
}
